body{

margin: 0;
}
h1{

text-align: center;

font-size: 60px;
}
p{

text-align: center;

font-size: 30px;

word-spacing: 5px;

font-weight: 600;

/* margin-top: 3px; */
}
img{

max-width: 100%;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}